@media {
    img {
        width: 100%;
    }
    h1 {
        font-family: "Tinos", serif;
        font-size: 45px;
        color: #0b0b0b;
        text-align: center;
    }

    p {
        font-family: "Garamond";
        font-size: 20px;
        color: #000000;
    }
    h2 {
        font-family: "Tinos", serif;
        font-size: 20px;
        color: #0b0b0b;
        text-align-last: center;
    }
    h3 {
        font-family: "Tinos", serif;
        font-size: 20px;
        color: #0b0b0b;
        text-align: center;
    }
    h4 {
        border-bottom: 5px solid #000000;
        font-family: "Tinos", serif;
        font-weight: bold;
        font-size: 30px;
    }

    #content {
        width: 100%;
        margin: auto;
    }
    .caption {
        font-size: 15px;
        color: #5b3b21;
        text-align-last: center;
    }
    .pullquote {
        border: 10px solid #b3a19c;
        padding: 20px;
        text-align-last: center;
    }
    .quote {
        font-size: 25px;
    }
    .attribution {
        font-size: 15px;
    }
    .credit {
        color: #8f2828;
        font-size: 15px;
    }
    .navbar ul {
        list-style-type: none;
        background-color: #5b3b21;
        padding: none;
        margin: none;
    }
    .navbar a {
        color: white;
        text-decoration: none;
        padding: 15px;
        display: block;
        margin-left: 20px;
        margin-right: 20px;
    }
    .navbar a:hover {
        background-color: #000000;
    }
}
@media (min-width: 576px) {
    #content {
        width: 80%;
        margin: auto;
    }
    h1 {
        font-size: 80px;
    }
}
