img {
    width: 100%;
}
h1 {
    font-family: "Garamond";
    font-size: 50px;
    color: #0b0b0b;
    text-align: center;
}

p {
    font-family: "Garamond";
    font-size: 15px;
    color: #000000;
    text-align: center;
}
h2 {
    font-family: "Garamond";
    font-size: 20px;
    color: #0b0b0b;
    text-align-last: center;
}
h3 {
    font-family: "Garamond";
    font-size: 20px;
    color: #0b0b0b;
    text-align: center;
}
h4 {
    border-bottom: 5px solid #000000;
    font-family:"Garamond"; font-weight: bold;
    font-size: 25px;
    
}
h5{
    border-bottom: 5px solid;
    font-family:"Garamond"; font-weight: bold;
    font-size: 25px; 
}
