@media {
    h1 {
        font-family: "monospace", Georgia;
        font-size: 50px;
    }

    h4 {
        border-bottom: 2px solid black;
        padding:  10px;
    }

    #topper {
        background-image: url(headshot%20copy.jpeg);
        background-size: cover;
    }

    .jobtitle {
        font-weight: bold;
        text-transform: uppercase;
    }
}

@media (min-width: 576px) {
    h1 {
        font-size: 120px;
    }
}
